/*Подключение шрифтов*/
@font-face {
  font-family: 'Oleo Script';
  src: url('../fonts/OleoScriptBold.woff') format('woff'),
  url('../fonts/OleoScriptBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Oleo Script';
  src: url('../fonts/OleoScriptRegular.woff') format('woff'),
  url('../fonts/OleoScriptRegular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Oxygen Mono';
  src: url('../fonts/OxygenMonoRegular.woff') format('woff'),
  url('../fonts/OxygenMonoRegular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

/*Общие стили*/
html {
  box-sizing: border-box;
  background-color: #f7f7f7;
  background-image: url(../img/page_bg.png);
  background-repeat: repeat;
}

body {
  font-family: Arial, sans-serif;
  color: #666;
  background-color: #fff;
  width: 970px;
  border: 1px solid #ececec;
  border-radius: 5px;
  margin: 60px auto 84px;
  padding-top: 30px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/*header*/


/*.block*/
.block {
  padding-top: 20px;
  padding-bottom: 15px;
}

.block-title {
  font-family: 'Oxygen Mono', Arial, sans-serif;
  font-size: 18px;
  color: #222222;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 15px;
}

/*.news*/

.news {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.news-item {
  width: calc(33.33% - 10px);
}

.news-item-text {
  font-size: 12px;
  color: #666666;
  line-height: 1.5;
  padding-left: 9px;
  padding-right: 9px;
}

.news-item-text p {
 margin-top: 0;
}

.news-item-text p:last-child {
  margin-bottom: 0;
}

.news-item-top {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  background-image: url(../img/news-item-top_bg.png);
  background-repeat: repeat-x;
  background-position: 0 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.news-item:nth-child(2n) .news-item-top {
  background-image: url(../img/news-item-top_bg-3.png),
  url(../img/news-item-top_bg-2.png);
  background-repeat: repeat-x, repeat;
  background-position: 0 100%, 0 0;
}

.news-item-title {
  font-family: 'Oxygen Mono', Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 6px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.004);
}

.news-item-subtitle {
  display: block;
  font-size: 11px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.004);
}

.news-item-img-wrapper {
  margin-left: -9px;
  margin-right: -9px;
}

.news-item-img {
  display: block;
  width: 100%;
  border: 2px solid #ffffff;
}